
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MikeItLayout.cshtml";
}

<h2>About MikeIt</h2>
<p>MikeIt is a project that was assinged at The Iron Yard coding school in Little Rock in July 2015.  The goal is for the student to learn the fundamentals of deploying a website.</p>

