@model IEnumerable<RedditClone.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model) {

            <h4>@Html.ActionLink(item.Title, "Details", new { id = item.PostId })</h4>

            <p>promoted by @Html.ActionLink(item.User.UserName, "../Users/Details", new { id = item.UserId })</p>

            <p>@Html.DisplayFor(modelItem => item.PostTime)</p>
       
         
            
          
}

